@import "../footer-nav/footer-nav.css";

.footer {
    background: #39649d;
    padding-top: 59px;
    padding-bottom: 29px;

    &__nav {
        margin-bottom: 84px;
    }

    &__copyright {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(21 / 14);
        color: #e3e7f2;
        text-align: center;
    }

    &__copyright-link {
        color: var(--pink);
    }
}
