@import "../nav/nav.css";

.header {
    padding-top: 15px;
    position: relative;
    z-index: 1000;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
