@font-face {
    font-family: "Cera Round Pro";
    src: url("../../fonts/CeraRoundPro/CeraRoundPro-Bold.woff2") format("woff2"),
        url("../../fonts/CeraRoundPro/CeraRoundPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cera Round Pro";
    src: url("../../fonts/CeraRoundPro/CeraRoundPro-Medium.woff2") format("woff2"),
        url("../../fonts/CeraRoundPro/CeraRoundPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cera Round Pro";
    src: url("../../fonts/CeraRoundPro/CeraRoundPro-Regular.woff2") format("woff2"),
        url("../../fonts/CeraRoundPro/CeraRoundPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
