@import "../../_blocks/normalize/normalize.css";
@import "../../_blocks/reset/reset.css";
@import "../../_blocks/page/page.css";
@import "../../_blocks/header/header.css";
@import "../../_blocks/slider/slider.css";
@import "../../_blocks/description/description.css";
@import "../../_blocks/functions/functions.css";
@import "../../_blocks/health-diary/health-diary.css";
@import "../../_blocks/specialists/specialists.css";
@import "../../_blocks/subscription/subscription.css";
@import "../../_blocks/footer/footer.css";
