<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Landing</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="stylesheets/index.min.css">
</head>

<body class="page">
    <header class="header">
        <div class="box header__box">
            <nav class="nav">
                <div class="logo nav__logo">
                    <div class="image-box"><a class="logo__link" href="#5"><img class="image-box__image" src="images/logo/logo.png" srcset="images/logo/logo@2x.png 2x" alt="Logo"></a></div>
                </div><!-- END .logo-->
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">О сервисе</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Функции</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Возможности</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Партнеры</a></li>
                </ul>
            </nav>
            <!--END .nav-->
            <div class="header-action"><button class="button header-action__button" type="button">Оставить заявку</button></div><!-- END .header-action-->
        </div>
    </header><!-- END .header-->
    <main class="main">
        <div class="slider">
            <div class="hero hero--first">
                <div class="box hero__box">
                    <h1 class="title title--white hero__title">Расширяем возможности предоставления качественных медицинских услуг</h1>
                    <h2 class="text text--large text--white hero__subtitle">«Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».</h2><a class="button button--fill button--small hero__button" href="#5">
                        <span class="button__text">Узнать больше</span>
                    </a>
                    <!-- END .button-->
                </div>
            </div><!-- END .hero-->
            <div class="hero hero--second">
                <div class="box hero__box">
                    <h1 class="title title--white hero__title">Следить за здоровьем станет проще</h1>
                    <h2 class="text text--large text--white hero__subtitle">Скоро вы сможете находиться на связи со своим лечащим врачом независимо от своего местоположения, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения и многое другое.</h2><a class="button button--fill button--small hero__button" href="#5">
                        <span class="button__text">Узнать больше</span>
                    </a>
                    <!-- END .button-->
                </div>
            </div><!-- END .hero-->
        </div><!-- END .slider-->
        <div class="description">
            <div class="box description__box">
                <div class="image-box description__image-box"><img class="image-box__image" src="images/mockups/mockup.jpg" srcset="images/mockups/mockup@2x.jpg 2x" alt="Mockup"></div>
                <div class="description__block-text">
                    <p class="title description__title">Что такое «Дневник здоровья»?</p>
                    <p class="text description__text">Дневник пациента — это удобный онлайн-сервис:</p>
                    <ul class="description__list">
                        <li class="description__item">
                            <p class="text description__item-text">Вносите результаты измерений вручную или с помощью интегрированных приборов</p>
                        </li>
                        <li class="description__item">
                            <p class="text description__item-text">Ведите персональную медицинскую карту с историей ваших измерений</p>
                        </li>
                        <li class="description__item">
                            <p class="text description__item-text">Делитесь результатами измерений со специалистами<br> для повышения эффективности лечения</p>
                        </li>
                        <li class="description__item">
                            <p class="text description__item-text">Получайте рекомендации, созданные специально для вас</p>
                        </li>
                    </ul><button class="button button--fill">
                        <span class="button__text">Оставить заявку</span>
                    </button>
                    <!-- END .button-->
                </div>
            </div>
        </div><!-- END .description-->
        <section class="functions">
            <div class="box">
                <h3 class="title functions__title">Функции приложения</h3>
                <div class="functions__list">
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/medicine.png" alt="medicine"></div>
                        <p class="text function__text">Планирование графика приема лекарств</p>
                    </div><!-- END .function-->
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/siren.png" alt="siren"></div>
                        <p class="text function__text">Уведомление врача<br> об исполнении назначений</p>
                    </div><!-- END .function-->
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/health.png" alt="health"></div>
                        <p class="text function__text">Ведение дневника самочувствия</p>
                    </div><!-- END .function-->
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/smartwatch.png" alt="smartwatch"></div>
                        <p class="text function__text">Удаленное предоставление измерений врачу</p>
                    </div><!-- END .function-->
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/conversation.png" alt="conversation"></div>
                        <p class="text function__text">Общение с врачами через встроенный мессенджер</p>
                    </div><!-- END .function-->
                    <div class="function functions__item">
                        <div class="function__image-box"><img class="function__img" src="images/icons/facebook.png" alt="facebook"></div>
                        <p class="text function__text">Получение уведомлений для выполнения назначений</p>
                    </div><!-- END .function-->
                </div>
            </div>
        </section><!-- END .functions-->
        <section class="health-diary">
            <div class="box health-diary__box">
                <h3 class="title title--dark health-diary__title">Ведите персональный дневник мониторинга здоровья</h3>
                <div class="health-diary__content">
                    <ol class="health-diary__list">
                        <li class="health-diary__item">
                            <p class="text text--large health-diary__item-title">Хранение данных</p>
                            <p class="text health-diary__item-text">Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья</p>
                        </li>
                        <li class="health-diary__item">
                            <p class="text text--large health-diary__item-title">Сообшение информации врачу</p>
                            <p class="text health-diary__item-text">Позвольте специалисту дистанционно следить за вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.</p>
                        </li>
                        <li class="health-diary__item">
                            <p class="text text--large health-diary__item-title">Напоминание о важном</p>
                            <p class="text health-diary__item-text">Получайте рекомендации, созданные специально для вас. <br> Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.</p>
                        </li>
                    </ol>
                    <div class="image-box health-diary__image-box"><img class="image-box__image" src="images/mockups/mockups.png" srcset="images/mockups/mockups@2x.png" alt="Mockups"></div>
                </div>
            </div>
        </section><!-- END .health-diary-->
        <section class="specialists">
            <div class="box specialists__box">
                <div class="image-box specialists__image-box"><img class="image-box__image" src="images/chart/chart.png" srcset="images/chart/chart@2x.png" alt="Chart"></div>
                <div class="specialists__text-box">
                    <h3 class="title specialists__title">Специалистам</h3>
                    <ul class="specialists__list">
                        <li class="specialists__item">
                            <p class="text specialists__text">Дистанционный контроль состояния здоровья ваших пациентов</p>
                        </li>
                        <li class="specialists__item">
                            <p class="text specialists__text">Наблюдение за динамикой изменения основных <br> медицинских показателей</p>
                        </li>
                        <li class="specialists__item">
                            <p class="text specialists__text">Наличие алгоритмов автоматического анализа <br> поступающей информации</p>
                        </li>
                        <li class="specialists__item">
                            <p class="text specialists__text">Индивидуальная система уведомлений об изменении <br> состояния каждого пациента</p>
                        </li>
                        <li class="specialists__item">
                            <p class="text specialists__text">Дополнительный сервис коммуникации, позволяющий активно вовлекать пациента в процесс профилактики, лечения и реабилитации.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- END .specialists-->
        <section class="subscription">
            <div class="box">
                <h3 class="title subscription__title">Получите бесплатный доступ к «Дневнику здоровья»</h3>
                <p class="text text--large subscription__text">Оставьте свою электронную почту <br> и вы узнаете о запуске данного сервиса первым!</p>
                <form class="subscription__form" novalidate onsubmit="return false"><input class="subscription__field" type="email" placeholder="Ваш E-mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"><span class="subscription__message"></span><button class="button button--fill" type="submit">
                        <span class="button__text">Отправить</span>
                    </button>
                    <!-- END .button-->
                </form>
            </div>
        </section><!-- END .subscription-->
    </main>
    <footer class="footer">
        <div class="box">
            <nav class="footer-nav footer__nav">
                <div class="logo footer-nav__logo">
                    <div class="image-box"><a class="logo__link" href="#5"><img class="image-box__image" src="images/logo/logo-footer.png" srcset="images/logo/logo-footer@2x.png 2x" alt="Logo"></a></div>
                </div><!-- END .logo-->
                <ul class="footer-nav__list">
                    <li class="footer-nav__item"><a class="text text--white footer-nav__link" href="#5">О сервисе</a></li>
                    <li class="footer-nav__item"><a class="text text--white footer-nav__link" href="#5">Функции</a></li>
                    <li class="footer-nav__item"><a class="text text--white footer-nav__link" href="#5">Возможности</a></li>
                    <li class="footer-nav__item"><a class="text text--white footer-nav__link" href="#5">Специалистам</a></li>
                    <li class="footer-nav__item"><a class="text text--white footer-nav__link" href="tel:88005004549">88005004549</a></li>
                </ul>
            </nav><!-- END .footer-nav-->
            <p class="footer__copyright">Разработка сайта <a class="footer__copyright-link" href="">Redsoft</a></p>
        </div>
    </footer><!-- END .footer-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="scripts/common.js"></script>
</body>

</html>
