mixin hero(obj)

    div(class="hero hero--" + obj.mod)
        div(class="box hero__box")
            h1(class="title title--white hero__title") !{obj.title}
            h2(class="text text--large text--white hero__subtitle") !{obj.subtitle}
            
            include ../../_blocks/button/button.pug
            +button({
                tag: "a",
                href: "#5",
                text: "Узнать больше",
                mod: ["fill", "small"]
            })(class="hero__button")

    // END .hero
