mixin hero()
    div(class="hero")
        div(class="box hero__box")
            h1(class="title title--white hero__title") Расширяем возможности предоставления качественных медицинских услуг
            h2(class="text text--large text--white hero__subtitle") «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
            
            include ../../_blocks/button/button.pug
            +button({
                tag: "a",
                href: "#5",
                text: "Узнать больше",
                mod: ["fill", "small"]
            })(class="hero__button")

    // END .hero
