mixin footer-nav()
    nav(class="footer-nav")&attributes(attributes)
        include ../../_blocks/logo/logo.pug
        +logo({
            header: false
        })(class="footer-nav__logo")

        ul(class="footer-nav__list")
            -
                var links = [
                    {
                        href: "#5",
                        text: "О сервисе",
                    },

                    {
                        href: "#5",
                        text: "Функции",
                    },

                    {
                        href: "#5",
                        text: "Возможности",
                    },

                    {
                        href: "#5",
                        text: "Специалистам",
                    },

                    {
                        href: "tel:88005004549",
                        text: "88005004549",
                    },
                ]

            each item in links
                li(class="footer-nav__item")
                    a(class="text text--white footer-nav__link" href=item.href) !{item.text}

    // END .footer-nav
