mixin slider()
    div(class="slider")
        include ../../_blocks/hero/hero.pug
        -
            var slides = [
                {
                    mod: "first",
                    title: "Расширяем возможности предоставления качественных медицинских услуг",
                    subtitle: "«Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».",
                },

                {
                    mod: "second",
                    title: "Следить за здоровьем станет проще",
                    subtitle: "Скоро вы сможете находиться на связи со своим лечащим врачом независимо от своего местоположения, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения и многое другое.",
                }
            ]

        each obj in slides
            +hero(obj)

    // END .slider
